<div class="card">

    <div class="card-body">
        <fieldset class="mb-3">
            <legend class="fs-lg fw-bold border-bottom pb-2 mb-3 text-primary text-uppercase">Thanh toán qua voice</legend>

            <span class="text-muted">Tính năng đang phát triển...</span>

        </fieldset>
    </div>

</div>