<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Đăng nhập</title>
    
    <!-- Global stylesheets -->
	<link href="/assets/fonts/inter/inter.css" rel="stylesheet" type="text/css">
	<link href="/assets/icons/phosphor/styles.min.css" rel="stylesheet" type="text/css">
	<link href="/assets_core/css/ltr/all.min.css" rel="stylesheet" type="text/css">
	<!-- /global stylesheets -->

	<!-- Core JS files -->
	<script src="/assets/js/jquery/jquery.min.js"></script>
	<script src="/assets/js/bootstrap/bootstrap.bundle.min.js"></script>
	<!-- /core JS files -->

	<!-- Theme JS files -->
	<script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
	<script src="/assets/js/vendor/notifications/noty.min.js"></script>
	<script src="/assets_core/js/app.js"></script>
	<script>
		const _componentNoty = function (text, type) {
			if (typeof Noty == 'undefined') {
				console.warn('Warning - noty.min.js is not loaded.');
				return;
			}

			// Override Noty defaults
			Noty.overrideDefaults({
				theme: 'limitless',
				layout: 'topRight',
				type: 'alert',
				timeout: 2500
			});

			return new Noty({ text, type }).show();
		};

		document.addEventListener('DOMContentLoaded', function () {
			const stateMsg = JSON.parse('<%- JSON.stringify(stateMsg) %>');

			if (stateMsg) {
				let message = (stateMsg.message) ? stateMsg.message : '';
				let type = (typeof stateMsg.status !== 'undefined' && !stateMsg.status) ? 'error' : 'success';

				// Show message error
				if (message) _componentNoty(message, type);
			}
		});
	</script>
</head>

<body>
    <!-- Page content -->
    <div class="page-content" style="background: url('./images/bg_auth.png') no-repeat; background-size: cover;">

        <!-- Main content -->
        <div class="content-wrapper">

            <!-- Inner content -->
            <div class="content-inner">

                <div class="content d-flex justify-content-left align-items-center" style="margin-left: 200px;">

					<!-- Login form -->
					<form class="login-form wmin-sm-400" action="/login" method="POST">
						<div class="card mb-0">
							<div class="tab-content card-body">
								<div class="tab-pane fade show active" id="login-tab1" role="tabpanel">
									<div class="text-left mb-3">
										<div class="d-inline-flex align-items-center justify-content-center my-2">
										    <h1 class="fw-bold mb-0 border-bottom">Login</h1>
										</div>
										<span class="d-block text-muted fs-lg">Welcome onboard with us!</span>
									</div>

									<div class="mb-3">
										<label class="form-label">Username</label>
										<div class="form-control-feedback">
											<input type="text" class="form-control" name="username" placeholder="Nhập username" required/>
										</div>
									</div>

									<div class="mb-3">
										<label class="form-label">Mật khẩu</label>
										<div class="form-control-feedback">
											<input type="password" class="form-control" name="password"  placeholder="Nhập mật khẩu" required />
										</div>
									</div>

									<div class="d-flex align-items-center mb-3">
										<a href="#" class="ms-auto">Quên mật khẩu?</a>
									</div>

									<div class="mb-3">
										<button type="submit" class="btn btn-teal w-100 text-uppercase">Đăng nhập</button>
									</div>
								</div>
							</div>
						</div>
					</form>
					<!-- /login form -->

				</div>

           
            </div>
            <!-- /inner content -->
            
        </div>
        <!-- /main content -->

    </div>
    <!-- /page content -->
</body>
</html>